#bannerDiv {
    background-color: var(--accentColor);
    display: flex;
    align-items: center;     
    padding: 20px 20px 20px 20px;
  }

  #bannerText {
    color: var(--mainColor);
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    padding-left: 20px;
  }