/*---------------------------------------*/
/* Trendy orange */
.AccentColor
{
    color: #ED7F09;
    font-weight: bold;
}

/* FaceBook blue */

.BaseColor
{
    color: #3B5997;
    background-color: White;
}

.BannerDiv
{
    background-color: green;
    height: 100px;
}

.BannerTD
{
    border: none;
}

.BannerText
{
    color: yellow;
    background-color: green;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: italic;

 /* NOTE 2 of 2: Use of a line break, a table and text top padding is much easier
    than trying to align these via CSS only: */

    font-size: 30px;
    padding-top: 5px;
}

body, textarea
{
    font-size: 20px;
}

#banner_image
{
    height: 64px;
    width: 64px;
}