@{
    ViewBag.Title = "Home Page";
}

@{
    //--------------------------------------------------------------------------------------------
    // DISABLING VISITOR EMAIL NOTE 1 of 2: This setting is stored in a browser cookie and covers
    // only that browser on my cell phone since the IP address varies every time I use it:

    // Look for the presence of this cookie.
    // NOTE: It is created in the SetCookie() event of form CookieVisitorIsDeveloper.aspx
    HttpCookie cookie = Request.Cookies["VisitorIsDeveloper"];

    String strVisitorIsDeveloper = "N"; // init

    // If the cookie exists:
    if (cookie != null)
    {
        // NOTE: This can only equal "Y":
        strVisitorIsDeveloper = cookie.Value.ToString();
    }

    //---------------------------------------------------------------------------
    // Utilize Host Services for processing done by all applications:

    // Init the WorkingWeb host services class:
    WorkingWebHostServices workingWebHostServices = new WorkingWebHostServices();

    // Perform standard start-up processing, passing the name of the application:
    workingWebHostServices.PageLoadInit("JSON Database Server", strVisitorIsDeveloper);

    //---------------------------------------------------------------------------
}

<head>
    <title>JSON Database</title>

    <link rel="stylesheet" type="text/css" href="http://www.workingweb.info/database/Site.css" />
    <link rel="stylesheet" type="text/css" href="http://www.workingweb.info/database/banner.css" />

    <script src="http://www.workingweb.info/database/WorkingWebBrowserServices.js" type="text/javascript"></script>

    <script type="text/javascript">

        //-----------------------------------------------------------------------------------------
        // Responsive web design is an approach that makes web pages render well on a variety of
        // devices and window or screen sizes.  Search for "responsive".
        window.addEventListener("orientationchange", function () {

            // The NOTE and processing below is taken from application ArtistMaint.  That app
            // had no problem when switching back to portrait mode.  This app does, though the
            // zooming is out, not in.  What a mess!  Here, the message will be generic and
            // apply to both portrait and landscape:
            alert("Correcting resizing error...");

            if (window.orientation == 0) {

                // Portrait:
                document.getElementById("viewport").setAttribute("content", "initial-scale=1.0");
            }
            else {
                // NOTE: It is a known problem that, on changing to landscape mode, the browser
                // fully zooms the page.  I have seen it documented for both Android and I-Phone.
                // Unfortunately, non of the solutions suggested worked for me.  In the course of
                // my debugging, I saw that a simple messagebox somehow short-circuits the problem.

                // Having wasted enough time on this, I will wait a few years, check back, and see
                // if the problem has been fixed.

                // Landscape:
                //alert("Correcting landscape resizing error...");
                document.getElementById("viewport").setAttribute("content", "initial-scale=0.5");
            }

        }, false);
        //---------------------------------------------------------------------------------------------------

        // <HEAD> AVAILABLE FUNCTIONS:

        function ButtonAbout_onclick() {

            open_popup_window(
                "../database/About.aspx",
	            true, // modal dialog
	            "no", // resizable
	            "no", // scrollbars
	            505,  // width
	            785   // height
            );

        }

        function main() {

        }

    </script>

</head>

<body class="AccentColor">

    <div id="bannerDiv">
        <img id="banner_image" src="http://www.workingweb.info/database/json_db192x192transparent.png" alt="JSON Database Logo" />
        <span id="bannerText">Database</span>
    </div>
    <br />
    <br />

    <form id="form1">
        <div>
            <br />
            Musical Artists
            <br />
            <br />
            <a href="http://www.workingweb.info/database/Artist/Get/">http://www.workingweb.info/database/Artist/Get/</a>
            <br />
            <a href="http://www.workingweb.info/database/Artist/Get/Elton%20John">http://www.workingweb.info/database/Artist/Get/Elton%20John</a>
            <br />
            <a href="http://www.workingweb.info/database/Artist/Get/?id=Elton%20John">http://www.workingweb.info/database/Artist/Get/?id=Elton%20John</a>
            <br />
            <a href="http://www.workingweb.info/database/Artist/Get/?id[0]=Elton%20John&id[1]=Artist%201">http://www.workingweb.info/database/Artist/Get/?id[0]=Elton%20John&id[1]=Artist%201</a>
            <br />
            <a href="http://www.workingweb.info/database/Artist/Get/?decade=1960&genre=ROCK">http://www.workingweb.info/database/Artist/Get/?decade=1960&genre=ROCK</a>
            <br />
            <br />
            Artist Wikipedia Discographies
            <br />
            <br />
            <a href="http://www.workingweb.info/database/ArtistDiscog/Get/">http://www.workingweb.info/database/ArtistDiscog/Get/</a>
            <br />
            <a href="http://www.workingweb.info/database/ArtistDiscog/Get/Elton%20John">http://www.workingweb.info/database/ArtistDiscog/Get/Elton%20John</a>
            <br />
            <a href="http://www.workingweb.info/database/ArtistDiscog/Get/?style=1">http://www.workingweb.info/database/ArtistDiscog/Get/?style=1</a>
            <br />
            <a href="http://www.workingweb.info/database/ArtistDiscog/Get/?albumId=Making%20Movies">http://www.workingweb.info/database/ArtistDiscog/Get/?albumId=Making%20Movies</a>            <br />
            <a href="http://www.workingweb.info/database/ArtistDiscog/Get/?year=1985">http://www.workingweb.info/database/ArtistDiscog/Get/?year=1985</a>
            <br />
            <br />
            Artist YouTube Albums
            <br />
            <br />
            <a href="http://www.workingweb.info/database/ArtistVideo/Get/">http://www.workingweb.info/database/ArtistVideo/Get/</a>
            <br />
            <a href="http://www.workingweb.info/database/ArtistVideo/Get/Elton%20John">http://www.workingweb.info/database/ArtistVideo/Get/Elton%20John</a>
            <br />
            <a href="http://www.workingweb.info/database/ArtistVideo/Get/?title=al%20stewart%20year%20of%20the%20cat%20album">http://www.workingweb.info/database/ArtistVideo/Get/?title=al%20stewart%20year%20of%20the%20cat%20album</a>
            <br />
            <br />
            System Codes
            <br />
            <br />
            <a href="http://www.workingweb.info/database/Code/Get/">http://www.workingweb.info/database/Code/Get/</a>
            <br />
            <a href="http://www.workingweb.info/database/Code/Get/?codeId=ArtistDiscogStyle">http://www.workingweb.info/database/Code/Get/?codeId=ArtistDiscogStyle</a>
            <br />
            <a href="http://www.workingweb.info/database/Code/Get/?codeId=ArtistDecade&value=1970">http://www.workingweb.info/database/Code/Get/?codeId=ArtistDecade&value=1970</a>
            <br />
            <br />

            <br />
            <input id="ButtonAbout" type="button" value="About" onclick="return ButtonAbout_onclick()" />

        </div>

    </form>

    <script type="text/javascript">

        // <BODY> STARTUP PROCESSING:

        main();

    </script>

</body>
